[submodule "earthsync_UI"]
	path = earthsync_UI
	url = https://github.com/DEBDEEP-BANERJ2E/earthsync_UI.git
[submodule "earthsync_web_backend"]
	path = earthsync_web_backend
	url = https://github.com/DEBDEEP-BANERJ2E/earthsync_web_backend.git
